ad{
  display: block;
}

h1{
  font-weight: bold;
  font-size: 20pt;
}

label{
  font-weight: bold;
  font-size: 13pt;
  color: blue;
}

usn,name,college,branch,year,email{
  font-size: 14pt;
  color: red;
}
